$bg-color: #333;

$left-bg-color: rgba(74, 74, 74, 0.6);
$left-btn-hover-color: rgb(160, 161, 160);

$right-bg-color: rgba(43, 43, 43, 0.8);
$right-btn-hover-color: rgba(200, 202, 192, 0.9);

$hover-width: 75%;
$other-width: 25%;

$speed: 1200ms;
